/* estadisticasSS.css */
body {
    background-color: rgb(156, 155, 155);
}

/* Estilos para el encabezado */
.container-fluid.g-0 {
    margin-bottom: 20px;
}

/* Estilos de la barra de navegación */
.custom-navbar {
    background-color: #013B82;
    padding: 0;
}

.custom-navbar .navbar-nav {
    width: 100%;
    justify-content: center;
}

.custom-navbar .nav-item {
    padding: 15px 20px;
}

.custom-navbar .nav-link {
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.custom-navbar .nav-item:hover,
.custom-navbar .dropdown-item:hover {
    background-color: #02214F;
}

/* Estilos de submenús */
.custom-navbar .dropdown-menu {
    display: none;
    top: 100%;
    left: 0;
    background-color: #013B82;
    padding: 0;
    min-width: 200px;
    border-radius: 0 0 4px 4px;
    border: none;
}

.custom-navbar .dropdown:hover .dropdown-menu {
    display: block;
}

.custom-navbar .dropdown-item {
    padding: 10px 20px;
    white-space: nowrap;
    color: white;
}

/* Estilos de la tarjeta del gráfico */
.card {
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
    border-radius: 10px 10px 0 0 !important;
    background-color: #02A7DA !important;
    text-align: center;
    color: white;
    padding: 15px;
}

.card-body {
    padding: 20px;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .custom-navbar .nav-item {
        padding: 10px 15px;
    }
    
    #piechart {
        height: 400px;
    }
}

@media (max-width: 576px) {
    #piechart {
        height: 300px;
    }
}