body {
    background-color: rgb(156, 155, 155);
}



/* Tarjeta del formulario */
.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 15px;
}

.card {
    border-radius: 10px;
    border: none;
}

.card-header {
    border-radius: 10px 10px 0 0 !important;
    background-color: #02A7DA !important;
    text-align: center;
}

.custom-btn-continuar {
    background-color: #02A7DA; 
    color: white;
    border: none;
    font-size: small;
}

.custom-btn-continuar:hover {
    background-color: #013B82; 
}